.worker{
    max-width: 33%;
    display: block;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
}
.description .split{
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}