body {
    font-family: Arial, sans-serif;
    background-color: #F5F7FF;
    height: 100vh;
    margin: 0;
    position: relative; /* Make body the relative container */
}

.leaderboard-container {
    background-color: #212121;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute; /* Position the container absolutely */
    top: 60%; /* Move it 50% down */
    left: 50%; /* Move it 50% right */
    transform: translate(-50%, -50%); /* Shift it back by 50% of its own height and width */
}

.leaderboard-container {
    background-color: #212121;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 30px;
    margin-bottom: 100px;
    text-align: center;
    padding-bottom: 120px;
}

.lead-container {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Optional: center items vertically if needed */
    gap: 2rem; /* Adjust space between images as needed */
    
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    
  }

.leaderboard {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.rank-card {
    background-color: #EAEFF5;
    border-radius: 10px;
    padding: 7px;
    width: 100px;
    position: relative;
    text-align: center;
}

.rank-card img {
    width: 50px;
    height: 50px;
    
}

.rank-card .stars, .rank-card .level {
    font-weight: bold;
}

.rank-card .rank {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #FFD700;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-card.first {
    background-color: #FFD700;
    
}

.rank-card.second {
    background-color: #C0C0C0;
}

.rank-card.third {
    background-color: #CD7F32;
    
}

.rank-card.first .rank {
    background-color: #FFD700;
}

.rank-card.second .rank {
    background-color: #C0C0C0;
}

.rank-card.third .rank {
    background-color: #CD7F32;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 1950px) {
    .taglines {
      padding-bottom: 15%;
      grid-template-columns: 1 2fr; /* Single column layout on small screens */
     /* Reduce space between items */
    }
    .tagline-item{
      padding: 0%;
    }
    .title1{
      margin-bottom: 0;
      font-size: 1rem;
  
    }
  
    .taglines h2 {
      font-size: 1.2rem; /* Smaller font size for headings */
    }
  
    .tagdescription p {
      
     
      /* Remove the tagdescription text */
    
      
    }
  }
  
  
  
  @media (max-width: 1500px) {
    .taglines {
      padding-bottom: 15%;
      grid-template-columns: 1 2fr; /* Single column layout on small screens */
     /* Reduce space between items */
    }
    .tagline-item{
      padding: 0%;
    }
    .title1{
      margin-bottom: 0;
      font-size: 1rem;
  
    }
  
    .taglines h2 {
      font-size: 1.2rem; /* Smaller font size for headings */
    }
  
    .tagdescription p {
      display: none;
     
      /* Remove the tagdescription text */  
    }
    .leaderboard-container{
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        height: 500px;
        width: 600px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .leaderboard {
        padding: 2px;
        width: 700px;
        grid-template-columns: 1fr; /* Single column layout on small screens */
    }
  }
  
  
  @media (max-width: 900px) {
    .taglines {
      padding-bottom: 15%;
      grid-template-columns: 1 2fr; /* Single column layout on small screens */
     /* Reduce space between items */
    }
    .tagline-item{
      padding: 0%;
    }
    .title1{
      margin-bottom: 0;
      font-size: 1rem;
  
    }
  
    .taglines h2 {
      font-size: 1.2rem; /* Smaller font size for headings */
    }
  
    .tagdescription p {
     
      /* Remove the tagdescription text */
    
      
    }
  }
  
  
  @media (max-width: 850px) {
    .taglines {
      padding-bottom: 15%;
      grid-template-columns: 1 2fr; /* Single column layout on small screens */
     /* Reduce space between items */
     
    
    }
    .tagline-item{
      padding: 0%;
    }
    .title1{
      margin-bottom: 0;
      font-size: 1rem;
  
    }
  
    .taglines h2 {
      font-size: 1.2rem; /* Smaller font size for headings */
    }
  
    .tagdescription p {
     display: none;
      /* Remove the tagdescription text */
    }
      .leaderboard-container{
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        height: 500px;
        width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .leaderboard {
        padding: 5px;
        width: 500px;
        grid-template-columns: 1fr; /* Single column layout on small screens */
    }
}

  
    
  
  /* Responsive design adjustments */
  @media (max-width: 800px   ){
    .taglines {
      
      grid-template-columns: 1 2fr; /* Single column layout on small screens */
      gap: 10px; /* Reduce space between items */
    }
    .title1{
      margin-bottom: 0;
    }
  
    .taglines h2 {
      font-size: 1.2rem; /* Smaller font size for headings */
    }
  
    .tagdescription p {
     
      display: none; /* Remove the tagdescription text */
    
      max-width: 100%; /* Ensure text fits within the container */
    }

    .leaderboard-container{
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        height: 500px;
        width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .leaderboard {
        padding: 5px;
        width: 500px;
        grid-template-columns: 1fr; /* Single column layout on small screens */
    }


  }
  
  
  @media (max-width: 500px) {
    .leaderboard-container{
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        width: 350px;
        height: 450px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        grid-template-columns: 1fr; /* Single column layout on small screens */
    }
    }


  @media (max-width: 400px) {
    .taglines {
      
      grid-template-columns: 1fr; /* Single column layout on small screens */
      gap: 5%; /* Reduce space between items */
      padding-bottom: 60%;
      margin-top: -60rem;
    }
      .leaderboard-container{
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        width: 270px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .leaderboard {
        padding: 20px;
        width: 200px;
        grid-template-columns: 1fr; /* Single column layout on small screens */
    }

      
  
   
    .title1{
      margin-bottom: 0;
      padding-bottom: 70rem;
  
      
    }
    .tagline-item{
      padding: 0%;
     
    }
  
    .taglines h2 {
      font-size: 0.8rem; /* Smaller font size for headings */
    }
  
    .tagdescription p {
     
      display: none; /* Remove the tagdescription text */
    
      max-width: 100%; /* Ensure text fits within the container */
    }
  }
  